<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="error">
        <h1>
            {{.ErrorNum}}
        </h1>
        <br>
        <p>
        <pre>{{.ErrorMes}}</pre>
        </p>
        <button class="back-button">
            <a href="/"> Go Back </a>
        </button>
    </div>
    </br>
</body>

</html>